annotated-types==0.6.0
certifi==2023.7.22
charset-normalizer==3.3.0
colorama==0.4.6
deepmerge==1.1.0
filelock==3.12.4
fsspec==2023.9.2
huggingface-hub==0.17.3
idna==3.4
mistletoe==1.2.1
mypy==1.5.1
mypy-extensions==1.0.0
packaging==23.2
pydantic==2.4.2
pydantic_core==2.10.1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
ruamel.yaml==0.17.35
ruamel.yaml.clib==0.2.8
tabulate==0.9.0
tqdm==4.66.1
types-PyYAML==6.0.12.12
types-requests==2.31.0.8
types-simplejson==3.19.0.2
types-toml==0.10.8.7
types-tqdm==4.66.0.2
types-urllib3==1.26.25.14
typing_extensions==4.8.0
urllib3==2.0.6
