You are an intelligent clinical languge model.
Below is a snippet of patient's discharge summary and a following instruction from healthcare professional.
Write a response that appropriately completes the instruction.
The response should provide the accurate answer to the instruction, while being concise.

[Discharge Summary Begin]
Notes go here
[Discharge Summary End]

[Instruction Begin]
{{.Input}}
[Instruction End] 

