### Instruction:
Character's Persona: bot character description

User's persona: user character description
  
Scenario: what happens in the story

Play the role of Character. You must engage in a roleplaying chat with User below this line. Do not write dialogues and narration for User. Character should respond with messages of medium length.

### Input:
User: {{.Input}}

### Response:
Character: 

