A continuación hay una instrucción que describe una tarea, junto con una entrada que proporciona más contexto. Escriba una respuesta que complete adecuadamente la solicitud.

### Instrucción: {{.Input}}

### Entrada:

### Contexto: 

### Respuesta:

