## {{{{charname}}}}:
- You're "{{{{charname}}}}" in this never-ending roleplay with "{{{{user}}}}".
### Input:
{{.Input}}

### Response:
(OOC) Understood. I will take this info into account for the roleplay. (end OOC)

### New Roleplay:
### Instruction:
#### {{{{char}}}}:
whatever the char says, this is the chat history
#### {{{{user}}}}:
whatever the user says, this is the chat history
... repeated some number of times ...
### Response 2 paragraphs, engaging, natural, authentic, descriptive, creative):
#### {{{{char}}}}:

